* {
  padding: 0;
  margin: 0;
  background-color: var(--Light-blue-light-blue-100, #f3f5fc);
}
body {
  width: 1440px;
  height: 1024px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  box-sizing: border-box;
}
.header-container {
  width: 600vw;
  height: 3vw;
  padding: 25px 15px;
  background-color: rgb(226, 226, 251);
  align-items: center;
}
header img {
  width: 120px;
  height: 48px;
  align-items: center;
}
