* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 100;
  font-size:20px;
  line-height: 150%;
  background-color: var(--Light-blue-light-blue-100, #f3f5fc);
}
.resultCryptografia {
  background-color: #0a3871;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 400px;
  height: 944px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--White, #fff);

  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
body {
  width: 1440px;
  height: 1024px;
  display: flex;
  padding: 5px;
}
main{
   display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}
.container {
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
}
.header-container {
  width: 600vw;
  height: 3vw;
  padding: 25px 15px;
  background-color: rgb(226, 226, 251);
  align-items: center;
}
header img {
  width: 120px;
  height: 48px;
  align-items: center;
}
.container {
  width: 680px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25rem;
  font-size: 32px;
  color: var(--Dark-blue-dark-blue-300, #0a3871);
}
